/* .nav-link {
    position: relative;
    padding-left: 20px; 
    transition: padding-left 0.3s ease;
    color: var(--text-color);
    transition: color 0.3s, transform 0.3s;
  }
  
  .nav-link.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 8px; 
    border-radius: 50%;
    background-color: var(--green-accent); 
  }
  
  .nav-link.active {
    padding-left: 30px; 
  }

  .nav-link.hover {
    color: #333; 
    transform: scale(0.95);
  } */