.nav-link {
    position: relative;
    padding-left: 20px; /* Adjust the spacing as needed */
    transition: padding-left 0.3s ease;
    color: var(--text-color);
    transition: color 0.3s, transform 0.3s;
  }
  
  .nav-link.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 6px; /* Adjust the size of the bullet as needed */
    height: 6px; /* Adjust the size of the bullet as needed */
    border-radius: 50%;
    background-color: #C290B6 ; /* Adjust the color of the bullet as needed */
  }
  
  .nav-link.active {
    padding-left: 30px; /* Adjust the spacing to accommodate the bullet */
  }

  .nav-link.hover {
    color: #333; 
    transform: scale(0.95);
  }